<div class='container'>
  <div class='row'>
    <div class='col' >
        ゲストユーザーの方はマイページにアクセスできません。<br>
        <%= link_to new_reviewer_registration_path, "会員登録", class: 'nav-link text-secondary' %>をするか、店舗情報の閲覧のみで当サイトをご利用ください。
    </div>
  </div>
</div>