<div class='container'>
  <div class='row'>
    <div class='mx-auto col-10'>
    <h4 class='bg-secondary text-light'>会員一覧</h4>

<table>
  <thead>
    <tr>
      <th scope="col" width="25%">会員ID</th>
      <th scope="col" width="25%">ニックネーム</th>
      <th scope="col" width="40%">メールアドレス</th>
      <th scope="col" width="25%"> ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% @reviewers.each do |reviewer| %>
    <tr>
      <td><%= reviewer.id %></td>
      <td><%= link_to "#{reviewer.nickname}", admin_reviewer_path(reviewer.id) %></td>
      <td><%= reviewer.email %></td>
      <td>
        <% status=reviewer.is_deleted %>
        <% if status==false %>
          <p class="text-success">有効</p>
        <% else %>
          <p class="text-danger">退会</p>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

    </div>
  </div>
</div>