<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
      <h2>Sign up</h2>
      <%= form_with model: @reviewer, url: reviewer_registration_path, id: 'new_reviewer', class: 'new_reviewer', local: true do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <table>
          <tr>
            <th><%= f.label :nickname %></th>
            <td><%= f.email_field :nickname, autofocus: true, class: "nickname rounded" %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>